<body style="background-color:#FFFAFA">
  <div class="fluid-container">
    <div id="wrapper">
      <div class="post-content">
        
        <h4>Edit Post</h4><br>
        <%= render 'form' %>
        
      </div>
    </div>
  </div>
</body>