<div class="fluid-container">
<body style="background-color:#FFFAFA">
  <div id="wrapper">
    <div class="post-content">
      <div>
        <h4>Create Post</h4><br>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</body>
</div>