
<!DOCTYPE html>

<header>
	<div class="fluid-container" style="margin-top: 70px">
		<div class = "profile">
			<div class="profile-image">
				<%= image_tag @user.profile.avatar.url(:medium) %>		
			</div>
				<div class="profile-user-name"><%= @user.profile.first_name %></div>&nbsp;
				<div class="profile-user-name"><%= @user.profile.last_name %></div>
				<% if current_user==@user %>
				<button class="profile-edit-btn">
						<%= link_to "Edit Profile", edit_user_profile_path(@user), class: "buttonprofile"%>
				</button>
				<%end%>
		</div>
		
		</div>
		
	</div>`
</header>